<div class="card">
  <div class="card-header">
    Ajout des Commandes
  </div>
  <div class="card-body">

    <div class="form-group">
      <label >Total</label>
      <input type="number" class="form-control" [(ngModel)]="commande.total">
    </div>
    <div class="form-group">
      <label >TotalPayer</label>
      <input type="number" class="form-control" [(ngModel)]="commande.totalPayer">
    </div>
  </div>
  <div class="card-header">
    Ajouter des Paiments
  </div>
  <div>
    <div class="row">

      <div class="form-group">
        <input type="number" class="form-control" placeholder="Montant" [(ngModel)]="paiment.montant">
      </div>
    </div>
    <div class="form-group ">
      <input type="date" class="form-control"  [(ngModel)]="paiment.datePaiment">
    </div>
    <div class="but">
      <button type="button" class="btn btn-info w-50" style="margin:20px auto" (click)="addPaiment()">Ajouter</button>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Montant</th>
        <th scope="col">Date Paiment</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of paiments; index as i" [hidden]="disable">
        <td>{{p.code}}</td>
        <td>{{p.montant}}</td>
        <td>{{p.datePaiment}}</td>
        <td><span (click)="delete(i)"><i class="fa fa-trash btn btn-danger"></i></span></td>
        <td><span (click)="updatePaiment(p,i)" ><i class="fa fa-edit btn btn-warning"></i></span></td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer">
    <button class="btn btn-primary w-50 " (click)="save()" [disabled]="disabled()">Valider</button>
  </div>
</div>
<div class="container" style="margin-top: 10rem ">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="" class="nav-link px-2 text-muted" routerLink="commande-create">Commandes Create</a></li>
      <li class="nav-item"><a href="" class="nav-link px-2 text-muted" routerLink="paiment-create">Paiment Create</a></li>
      <li class="nav-item"><a href="" class="nav-link px-2 text-muted" routerLink="paiment-list">Liste des Paiments</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Company, Inc</p>
  </footer>
</div>
